<div class="text-center">
    <form ng-submit="login()" class="form-signin">
        <h3 class="form-signin-heading"> Please login </h3>
        <div class="space-top">
            <input type="text" class="form-control" ng-model="username" placeholder="Email Address" autofocus="" />
            <input type="password" class="space-top form-control" ng-model="password" placeholder="Password"/>
        </div>
        <button ng-disabled="!username || !password" class="space-top btn btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
