/************ Common styles **************/
#header {
    position: relative;
    margin-bottom: 70px;
}

#footer {
    padding: 10px;
}

.space-left {
    margin-left: 4px;
}

.link:hover {
    cursor: pointer;
}

.space-top {
    margin-top: 20px;
}

/************ Autocomplete directive **************/

.autocomplete-container {
    max-width: 550px;
}

.home-inputs-container {
    min-height: 200px;
}

.suggestions-list {
    position: inherit;
    width: 100%;
    z-index: 2;
    display: inline-block;
    background: #fff;
    border-top: 2px solid grey;
    border-radius: 3px;
    max-height: 300px;
    overflow-y: auto;
}
.suggestion-item {
    float: left;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: solid 1px #dddddd;
    border-top: none;
    padding: 3px;
}

.suggestion-item:hover {
    background-color: #F5F5F5;
    cursor: pointer;
    color: black;
}

.active {
    background-color: #F5F5F5;
    color: black;
}

.inactive {}

/************ Login page **************/
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
