<div>
    <div class="info-container">
        <small class="pull-right">
            <span> {{suggestions.length}} results </span>
            <span ng-if="queryResponseTime">({{queryResponseTime}} seconds) </span>
            <span ng-if="suggestions.length || $query" ng-click="clearSuggestions()" class="btn btn-primary btn-xs">
                <icon class="trash"> </icon>
            </span>
        </small>
    </div>
    <div>
        <div class="search-container input-group">
            <input
               ng-disabled="{{isDisabled}}"
               ng-change="onQuery($query)"
               ng-model="$query"
               ng-keydown="onKeyboardBtnPressed($event)"
               placeholder="{{placeholder}}"
               class="form-control"
               type="text"/>
            <span class="link input-group-addon">
                <button class="btn btn-success" ng-disabled="!$query" ng-click="onQuerySubmit($query)" >
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="suggestions-list" ng-if="suggestions.length">
            <div ng-click="selectSuggestion(suggestion)"
                 class="suggestion-item"
                 ng-class="getSuggestionItemClass($index)"}
                 ng-repeat="suggestion in suggestions">
                <span>
                    {{suggestion}}
                </span>
            </div>
        </div>
    </div>
</div>
