<div class="">

    ...ITEMS: {{items | json}}

    <input ng-change="query($query)"
           ng-model="$query"
           ng-keydown="onKeyPressed($event)"
           placeholder="{{placeholder}}"
           class="form-control"
           type="text"
           name=""
           value="">
        <div class="dropdown-list" ng-if="items.length">
        <div ng-click="selectItem(item)"
             class="dropdown-list-item"
             ng-class="getListItemClass($index)"}
             ng-repeat="item in items">
            <span>
                {{item}}
            </span>
        </div>
    </div>
</div>
