<div>
    <div class="autocomplete-container">
        <small class="pull-right">
            <span> {{suggestions.length}} results </span>
            <span ng-if="queryResponseTime">({{queryResponseTime}} seconds) </span>
        </small>
        <input
           ng-disabled="{{isDisabled}}"
           ng-change="onQuery($query)"
           ng-model="$query"
           ng-keydown="onKeyboardBtnPressed($event)"
           placeholder="{{placeholder}}"
           class="form-control"
           type="text">
        <div class="suggestions-list" ng-if="suggestions.length">
            <div ng-click="selectSuggestion(suggestion)"
                 class="suggestion-item"
                 ng-class="getSuggestionItemClass($index)"}
                 ng-repeat="suggestion in suggestions">
                <span>
                    {{suggestion}}
                </span>
            </div>
        </div>
    </div>
</div>
