<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Search here
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="autocomplete-container">
                    <label>Search Google Books:</label>
                    <auto-completion
                        target-api="googleBooks"
                        placeholder="Start quering...">
                    </auto-completion>
                </div>
            </div>

            <div class="col-md-6">
                <div class="autocomplete-container">
                    <auto-completion
                        target-api="googleBooks"
                        placeholder="Start quering...">
                    </auto-completion>
                </div>
            </div>

        </div>
    </div>
</div>
